/*

Autor: rochac2lee
Description: Código criado para o Chat com CodeIgniter

*/

body, html {
  background: linear-gradient(45deg, #000025, #172b4d);
  height: 100%;
  /*font-family: Bison, sans-serif;*/
}


h3 {
  font-family: Bison, sans-serif;
  color: rgba(255, 255, 255, .95);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.right {
  float: right;
}

.noMessage {
  color: rgba(255, 255, 255, .95);
}

.btn-clear {
  display: none;
  margin-left: 10px;
  color: rgba(255, 255, 255, .95);
  background-color: transparent;
  border-color: #ccc;
  border-radius: 20px;
}

.btn-send {
  border-radius: 20px;
}

#btnNewFiles {
  padding: 10px;
}

.bmd-btn-fab.custom-file-control:before, .btn.bmd-btn-fab {
  font-size: 15px;
  width: 2.3rem;
  min-width: 2.3rem;
  height: 2.3rem;
}

.thumb {
  width: 10%;
  display: inline-flex;
  border-radius: 50%;
}

.me {
  color: #fff;
  font-weight: 500;
  display: inline-flex;
  vertical-align: top;
  font-size: 1.5em;
  margin-left: 15px;
}

.nameUser {
  color: #212527;
  font-weight: 500;
  display: inline-flex;
  vertical-align: top;
  font-size: 1.5em;
  margin-left: 15px;
}

.dot {
  color: #4caf50;
  margin-right: 5px;
}

.linkLoggedusers {
  margin-bottom: 0;
}

.btn-loggedUsers {
  color: #fff;
  width: 100%;
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.btn-loggedUsers:focus {
  color: #fff;
  background-color: #4458c9;
  border-color: #3f51b5;
}

.btn-loggedUsers:hover {
  color: #ccc;
  background-color: #4458c9;
  border-color: #3f51b5;
}

.space {
  padding-right: 5px;
}

.options {
  opacity: 0.5;
}

.options:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity .15s;
  transition-delay: .15s;
}

.dropdown-menu a.optionConfirm, .dropdown-menu a.optionCancel {
  max-width: 50%;
  display: table-cell!important;
  min-width: 0;
}

.textConfirm {
  padding: 10px 10px 0px 10px;
  font-size: 14px;
}

.divMessageOptions {
  display: block;
}

#divOptionConfirmDelete {
  display: none;
}

.message {
  width: 75%;
  resize: none;
  background: #f1f0f0;
  color: #e4e6eb;
  border: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 15px;
  padding: 2% 3% 1% 3%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 20px;
  outline: none;
  display: inline-flex;
  float: left;
}

.message:focus {
  resize: none;
  width: 75%;
  background: #445379;
  color: #e4e6eb;
  border: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 15px;
  padding: 2% 3% 1% 3%;
  font-size: 15px;
  font-weight: 400;
  border-radius: 20px;
  outline: none;
  display: inline-flex;
  float: left;
}

#divBtnSendMessage {
  float: right;
}

.message::placeholder {
  color: #212529;
  transition: all .15s linear;
  transition-delay: .15s;
}

.message:focus::placeholder {
  color: #f1f0f0;
}

.dropdown-menu {
  border-top-right-radius: 15px;
}

.dropdownOptions {
  position: absolute;
  top: -2px;
  right: 175px;
}

.dropdownOptionsDelete {
  position: absolute;
  top: -2px;
  right: 202px;
}

.allMessages {
  min-height: 400px;
  max-height: 400px;
  padding: 15px;
  background-color: #445379;
  border-radius: 15px;
  box-shadow: inset 0px 50px 57px -34px #112043;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.thumbMessage {
  width: 5%;
  vertical-align: top;
  display: inline-block;
  border-radius: 50%;
}

.textMessage {
  min-width: 20%;
  max-width: 45%;
  margin-left: 10px;
  display: inline-block;
  word-wrap: break-word;
  vertical-align: middle;
  font-size: 1em;
  padding: 10px 10px;
  border-radius: 0px 12px 12px 12px;
  background: #f1f0f0;
}

.thumbMessageRight {
  width: 5%;
  vertical-align: top;
  float: right;
  display: inline-block;
  border-radius: 50%;
}

.textMessageRight {
  min-width: 20%;
  max-width: 45%;
  margin-right: 10px;
  float: right;
  display: inline-block;
  word-wrap: break-word;
  vertical-align: middle;
  font-size: 1em;
  padding: 10px 10px;
  border-radius: 12px 0px 12px 12px;
  background: #f1f0f0;
}

.login {
  text-align: center;
}

.thumbLogin {
  width: 10%;
  margin-top: 15px;
  border-radius: 50%;
}

.loginForm {
  margin: 0 auto;
}

.btn-login {
  border-radius: 20px;
  float: right;
}

.title {
  display: inline-block;
}

.close {
  color: rgba(255, 255, 255, .95);
  display: inline-block;
  transition: all .15s linear;
}

.close:hover {
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.lblSendMessage {
  color: #424242;
}

.time {
  display: none;
}

.messageTimeLeft {
  display: flex;
  float: right;
  margin-top: 5px;
  font-size: 12px;
}

.messageTimeRight {
  display: flex;
  margin-top: 35px;
  font-size: 12px;
}

.lblClock {
  font-size: 12px;
  display: inline-block;
}

#messageToEdit {
  display: none;
}

.noUsers {
  opacity: 0.5;
}

.lblNoUsers {
  font-size: 16px;
  text-align: center;
  color: #212527;
}

.viewFile {
  width: 100%;
}

.viewFileDoc {
  float: right;
  width: 30%;
  opacity: 1;
}

.viewFileDoc:hover {
  float: right;
  width: 30%;
  opacity: 0.7;
  transition: all .15s linear;
}
